body {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    font-family: "Montserrat";
    font-weight: bold;
}

/* Media bar */


.media-nav {
    display: flex;
    justify-content: flex-end;
    background-color: #dedede;
    border: 1px solid #000;
}

.media-nav ul {
    list-style-type: none;

}

.media-nav ul li {
    padding: 0 10px;
    display: inline-block;
}

.media-nav ul li:last-child {
    border-left: 1px solid black;
}


/* Navigation */


.navigation {
    display: flex;
    margin-bottom: 10px;
}


.logo {
    display: flex;
    width: 180px;
    height: 110px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0px 25px;
    background-color: #dedede;
}

.logo > p {
    font-size: 23px;
}


/* Head navigation */

.head-section {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;

}


/* Contact buttons*/

.contact {

    align-self: flex-end;
}


.contact ul {
    list-style-type: none;

}

.contact ul li {
    display: inline-block;
    border: 1px solid #000;
}

.contact ul li:first-child {
    margin-right: 13px;
    padding: 10px 120px;
    background-color: #dedede;
}

.contact ul li:last-child {
    padding: 10px 30px;
    background-color: #dedede;
}





/* Navigation list*/


.nav-list {
    align-self: flex-end;
}

.nav-list ul {
    list-style-type: none;
}

.nav-list ul li {
    padding: 0 15px;
    display: inline-block;
}


.head-img {
    display: flex;
    background-color: #dedede;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border: 1px solid #000;
}


.announcement {
    display: flex;
    background-color: #dedede;
    margin: 15px 0;
    padding-left: 10px;
    height: 70px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #000;
}

.x {
    background-color: #dedede;
    width: 20px;
    height: 20px;
    border: 1px solid #000;;
    display: flex;
    margin-left: auto;
    margin-right: 20px;

}

.line1 {
    width: 27px;
    height: 11px;
    border-bottom: 1px solid #000;
    transform:
        translateY(0px) 
        translateX(0px) 
        rotate(46deg);

    position: absolute;
}



.line2 {
    width: 27px;
    height: 11px;
    border-bottom: 1px solid #000;
    transform:
        translateY(0px) 
        translateX(0px) 
        rotate(-47deg);

    margin-left: -8px;
    margin-top: 0px;
}


.callout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    

}

.callout > div {
    padding: 20px;
    flex-direction: row;
    flex-flow: row;
    padding: 126px;
    background-color: #dedede;
    border: 1px solid #000;
}

.callout > div > p {
    text-align: center;
}


